/* General CSS */
body {
    background: #FEFEFE;
    font: 16px 'Open Sans', sans-serif;
}

.alt {
    background: #D9D9D9;
}

.alt2 {
    background: #C0C0C0;
}

h1 {
    color: #EB712F;
    font: bold 50px 'Open Sans', sans-serif;
    margin: 1em 1em 0 1em;
    text-align: center;
}

h2 {
    font: 45px 'Open Sans', sans-serif;
    color: #EB712F;
    padding-top: 0.5em;
    text-align: center;
}

h3 {
    margin: 0.5em 0 0.5em 0;
}

a:link, a:visited {
    color: #EB712F;
    text-decoration: none;
}
  
a:hover, a:active {
    color: #472C25;
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: #EB712F;
}

.container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    line-height: 2;

    padding: 10px;
    text-align: center;
}

.content {
    margin: 0;
}

button {
    background-color: #EB712F;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #EB712F;
    margin:0.5em 0 0.5em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font: bold 18px 'Roboto',sans-serif;
    font-weight:300;
    color: black;
    text-align:center;
    transition: all 0.2s;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Header */
#header {
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width:105%;
    left:-3%;
    background-image: linear-gradient(#EB712F, #D9D9D9);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 50% 75%;
    border-bottom-right-radius: 50% 75%;
}

/* Landing */
#landing {
    margin-top: 50px;
}

#attributes {
    font: bold 20px 'Open Sans', sans-serif;
}

#landing .item {
    margin-bottom: 0;
}

/* Academics */
#academics {
    margin-top: 2em;
    padding: 2em 0;
}

#academics img {
    width: 50px;
    height: 50px;
}

#academics .item {
    max-width: 600px;
}

.school {
    font-size: 18px;
}

/* Programming */
#programming .item {
    width: 1200px;
}

.text {
    text-align: left;
    margin: 0.5em 0.5em 2em 0.5em;
}

.programmingPic img {
    border: 1px solid #EB712F;
    margin-top: 2em;
}

#programming img {
    margin: 0.5em 0 0.5em 0;
}

.title {
    font-size: 18px;
    margin-top: 2em;
}

/* Writing */
#writing .item {
    width: 600px;
}

/* Desktop */
/*
@media (min-width: 800px) {
    #attributes {
        font-size: 25px;
    }

    .item:hover {
        border: 1px black solid;
    }

    #landing .item:hover {
        border: none;
    }
    
    #landing .item {
        margin: 0 1em;
    }
    
    .item {
        margin: 1em;
    }
    
    .item div {
        padding: 0.25em;
    }
    
    .content .item {
        background: white;
        border: 1px #EB712F solid;
        border-radius: 3px;
        text-align: center;
        padding: 10px;
    }
}*/